<div class="flex flex-col gap-3 intro">
    <h1 class="text-3xl sm:text-5xl xl:text-7xl font-bold">Discover, collect,  and charity in extraordinary NFT marketplace</h1>
    <p class="text-2xl w-10/12">In aenean posuere lorem risus nec. Tempor tincidunt aenean purus purus vestibulum nibh mi venenatis</p>
    <div class="buttons flex flex-wrap gap-6">
        <button class="explore font-semibold bg-gradient-to-br from-purple-600 to-blue-500 px-14 py-3 rounded-xl hover:opacity-80 transition duration-200">Explore</button>
        <button class="create font-semibold border border-gray-200 px-14 py-3 rounded-xl hover:bg-gray-100 hover:bg-opacity-10 transition duration-200">Create</button>
    </div>
</div>
