<div class="container mx-auto px-8 flex flex-col gap-8 mt-24 mb-12">
    <div class="flex flex-col lg:flex-row justify-between gap-12">
        <div>
            <p class="text-3xl sm:text-5xl lg:text-7xl">Etiam et id tincidunt faucibus mollis a sociis pretium fermentum quis magna faucibus lacus.</p>
        </div>
        <div class="flex flex-wrap lg:flex-nowrap gap-12">
            <div>
                <p class="text-2xl font-semibold mb-4">Marketplace</p>
                <ul class="list-none flex flex-col gap-2">
                    <li>Home</li>
                    <li>Activity</li>
                    <li>Discover</li>
                    <li>Learn more</li>
                </ul>
            </div>        
            <div>
                <p class="text-2xl font-semibold mb-4">Company</p>
                <ul class="list-none flex flex-col gap-2">
                    <li>About Us</li>
                    <li>Services</li>
                    <li>Portfolio</li>
                </ul>
            </div>   
            <div>
                <p class="text-2xl font-semibold mb-4">Contact</p>
                <ul class="list-none flex flex-col gap-2">
                    <li>Facebook</li>
                    <li>Instagram</li>
                    <li>Twitter</li>
                    <li>Email</li>
                </ul>
            </div>       
        </div>
    </div>
    <hr/>
    <div class="flex justify-between">
        <div class="flex flex-wrap gap-4">
            <button aria-label="instagram">
                <i class="fa-brands fa-instagram text-gray-400 text-xl"></i>
            </button>
            <button aria-label="facebook">
                <i class="fa-brands fa-facebook text-gray-400 text-xl"></i>
            </button>
            <button aria-label="twitter">
                <i class="fa-brands fa-twitter text-gray-400 text-xl"></i>
            </button>
        </div>
        <p class="text-gray-400 text-lg">Copyright 2024 Gaslur</p>
    </div>
</div>